@using emensa.Models
@using emensa.ViewModels
@model IEnumerable<MahlzeitenPreise>

@{
    ViewData["Title"] = "Warenkorb";
    Dictionary<string,int> cookies = (Dictionary<string,int>)ViewData["Warenkorb"];
}


<h3>Warenkorb</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <h5>Vorbestellungen als Mitarbeiter</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Mahlzeit
            </th>
            <th>
                Einzelpreis
            </th>
            <th>
                Anzahl
            </th>
            <th>
                Gesamtpreis
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahlzeiten.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahlzeiten.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preise.Gastpreis)
            </td>
            <td>
                @cookies[Convert.ToString(item.Mahlzeiten.Id)]
            </td>
        </tr>
}
    <tr>
        <td>Alle löschen</td>
        <td>Änderungen übernehmen</td>
        <td>Diese Bestellung kostet: </td>
        <td></td>
        <td>
            <div class="border-mintgreen" style="width:4em">
            10,50 €
            </div>
        </td>
    </tr>
    </tbody>
</table>



<div>
    Wann kommen Sie das Essen abholen: 
    <select>
        <option>10:15</option>
    </select>
</div>
            <div class="form-group">
                <input type="submit" value="Jetzt kostenpflichtig vorbestellen." class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
