@page
@{
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="col">
        <!-- nutzen Sie ein eigenes Bild und schauen Sie, dass Ihre Dokumente validieren -->
        <img class="splash" alt="Mensa" title="Photo by Toa Heftiba on Unsplash" src="/images/toa-heftiba-195458-unsplash.jpg"/>
        <small class="copyright">
                <a href="https://unsplash.com/@@heftiba?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank">Toa Heftiba</a>
        </small>
    </div>    
</div>    
<div class="row">
    <div class="col-3">
        <p>Der Dienst <b>e-Mensa</b> ist noch beta.
        Sie können bereits <a href="">Mahlzeiten</a> durchstöbern, aber noch nicht bestellen</p>
        <p>Registrieren Sie sich <a href="">hier</a> um über die Veröffentlichung des Dienstes per Mail informiert zu werden</p>
    </div>    
    <div class="col-9">
        <div class="row">
            <div class="col-10">
                <h2>leckeres Essen vorbestellen</h2>
                <p>... und gemeinsam mit Kommilitonen und Freunden essen.</p>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary margin-top-close">
                        <span class="iconicstroke-key-stroke"></span>
                    Anmelden
                </button>
                <button type="button" class="btn btn-primary margin-top-close">
                        <span class="iconicstroke-document-alt-stroke"></span>
                    Bestellen
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col margin-top-close">
                <img  class="splash" src="images/rawpixel-754045-unsplash.jpg" alt="Photo by rawpixel on Unsplash">
                <small class="copyright">
                        <a href="https://unsplash.com/photos/0OZz-OB65DA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">rawpixel</a>
                </small>
            </div>
        </div>
    </div>
</div>
